*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
header {

    background-color: cornsilk;
    color: #422103;
    padding-left: 100px;
    padding-top: 35px;
    height: 120px;
    grid-row: 1/2;
    grid-column: 1/9;
}




.Verx{

    display: flex;
    flex-direction: row;
    width: 300px;
}
.log
{
    padding-left: 110px;

}
.nazv
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
ul{
    text-align: left;
    display: flex;
    flex-direction: row;
}

.poisk
{
    padding-left: 1220px;

}
.slog
{

    margin-top: 30px;

    background-image: url("img/bibl.jpg");
    padding-top: 100px;
    height: 450px;
    margin-right: 100px;
}
.slog h1
{
    text-align: center;
    margin-top: 350px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: cornsilk;
    text-shadow: 0 3px #422103;
}
.vxod
{
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow:  0 1px; rgba(55,23,6);
    outline: none;
    border: none;
    border-radius: 100px;
    background: #422103 radial-gradient(150% 100% at 50% 5px, rgb(72, 48, 18),rgba(0,0,0,0));
    color:cornsilk ;
    cursor: pointer;

}
.vxod:hover
{
    cursor: pointer;
    color:  #422103;
    background: cornsilk;

}
.reg
{
    list-style-type: none;

}

